<h1>THis is now a template!</h1>
<div>Settlement name: <%= @name %></div>
<form phx-submit="set-settlement-name">
  <input type="text" name="settlement-name" value="<%= @name %>" placeholder="Settlement name...">
</form>
